<div class="container">
    
    <h3>Amount</h3>
    <button id="" type="button" class="btn btn-danger">2,00,000</button>
    <h3>Donar Information</h3>
    <form action="/payment/200000" method="POST">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <input type="text" name="Fname" class="form-control" placeholder="First name" required="">
            </div>
            <div class="col-md-6 mb-3">
                <input type="text" name="Lname" class="form-control" placeholder="First name" required="">
            </div>
            <div class="col-md-6 mb-3">
                <input type="email" name="Email" class="form-control" id="" placeholder="Email" value="" required="">
            </div>
            <div class="col-md-6 mb-3">
                <input type="text" name="PhoneNumber" class="form-control" id="" placeholder="Phone Number" value=""
                    required="" pattern="\d{10}">
            </div>
            <div class="col-md-6 mb-3">
                <input type="text" name="Country" class="form-control" id="" placeholder="Country" value="" required="">
            </div>
            <div class="col-md-6 mb-3">
                <input type="text" name="State" class="form-control" id="" placeholder="State" value="" required="">
            </div>
            <div class="col-md-6 mb-3">
                <input type="text" name="City" class="form-control" id="" placeholder="City" value="" required="">
            </div>
            <div class="col-md-6 mb-3">
                <input type="text" name="PINcode" class="form-control" id="" placeholder="PIN code" value=""
                    required="">
            </div>
            <div class="col-md-12 mb-3">
                <textarea class="form-control form-control-lg mb-3" name="" rows="5" placeholder="Address"
                    style="margin-top: 0px; margin-bottom: 16px; height: 142px;"></textarea>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>